<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="Usuarios" content="" />
  <meta name="Treinos" content="" />
  <meta name="Treinador" content="" />

  <title>FitnessDiary</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- Barra de navegação no topo da tela -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="Entrada.html">
            <span>
              FitnessDiary
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Voltar e modificar caso necessário pra enviar para as páginas certas-->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item">
                  <a class="nav-link" href="Usuarios.html">Minha Conta </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="Treinos.html"> Treinos </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Treinador.html"> Sobre os Treinadores</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="AutenticaLayout.razor"> Sair</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section position-relative">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="col-lg-10 col-md-11 mx-auto">
                <div class="detail-box">
                  <div>
                    <h1>
                      Fitness Diary
                    </h1>
                    <p>
                      É possível melhorar a sua saúde a partir dos hábitos que você inclui em sua rotina. A alimentação pode reforçar a imunidade, diminuindo a frequência com que uma pessoa fica doente ou suavizando a intensidade e duração dos sintomas.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="col-lg-10 col-md-11 mx-auto">
                <div class="detail-box">
                  <div>
                    <h1>
                      Qualidade do Sono
                    </h1>
                    <p>
                    Dormir bem é também uma questão de hábito, por isso, tente deitar para dormir sempre que possível no mesmo horário. Isso ajuda o seu cérebro a desligar das preocupações e relaxar com mais facilidade no fim do dia.
                    Essa dica também ajuda quem tem insônia ou dificuldade para dormir. No começo não será fácil, mas aos poucos você vai se acostumando. Vale lembrar que uma boa noite de sono contribui bastante para aumentar a imunidade.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="col-lg-10 col-md-11 mx-auto">
                <div class="detail-box">
                  <div>
                    <h1>
                      Planeje suas refeições
                    </h1>
                    <p>
                      Comer bem é essencial para vivermos com saúde e elevarmos a imunidade. Para diminuir o tempo perdido durante a rotina diária enquanto pensa no que irá comer, uma boa ideia é planejar as refeições da semana de uma vez só.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="col-lg-10 col-md-11 mx-auto">
                <div class="detail-box">
                  <div>
                    <h1>
                     Pratique atividades físicas regulares 
                    </h1>
                    <p>
                    É comprovado que atividades físicas melhoram a auto-estima, sensação de bem-estar e a imunidade, sem mencionar o ganho de condicionamento físico. Mesmo que uma simples caminhada, ioga ou treinos funcionais em casa, fuja do sedentarismo para melhorar sua qualidade de vida.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
      </div>
    </section>
    <!-- end slider section -->
  </div>
  

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>

</body>

</html>
