@rendermode InteractiveServer
@inject NavigationManager navegacao
@inject ILocalStorageService localStorage

<Loading IsLoading="isLoading" />

<a class="nav-link" href="javascript:void(0)" @onclick="navigate"> @LinkText</a>

@code {
    [Parameter] public string Path { get; set; }
    [Parameter] public string LinkText { get; set; }
    private bool isLoading = false;

    public async void navigate()
    {
        isLoading = true;
        StateHasChanged();

        await Task.Delay(1000);
        navegacao.NavigateTo($"{Path}", true);

        isLoading = false;
        StateHasChanged();
    }
}


