@rendermode InteractiveServer
@inject NavigationManager navegacao
@inject ILocalStorageService localStorage

<a class="nav-link" href="javascript:void(0)" @onclick="logout"> Sair</a>

@code {
    public void logout()
    {
        localStorage.ClearAsync();
        navegacao.NavigateTo("/");
    }
}
