@page "/home"
@inject IUsuarioService clienteService
@inject NavigationManager navegacao
@inject ILocalStorageService localStorage
@rendermode InteractiveServer


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Items.Count; i++)
        {
            <li @onclick="() => GoToSlide(i)" class="@((i == currentIndex) ? "active" : "")"></li>
        }
    </ol>
    <div class="carousel-inner">
        @for (int i = 0; i < Items.Count; i++)
        {
            <div class="carousel-item @(i == currentIndex ? "active" : "")">
                <div class="container">
                    <div class="col-lg-10 col-md-11 mx-auto">
                        <div class="detail-box">
                            <div>
                                <h1>@Items[i].Title</h1>
                                <p>@Items[i].Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <a @onclick="PreviousSlide" class="carousel-control-prev" role="button">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a @onclick="NextSlide" class="carousel-control-next" role="button">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>

@code {
    private int currentIndex = 0;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (await localStorage.GetItemAsync<int>("IdUsuario") == null || await localStorage.GetItemAsync<int>("IdUsuario") == 0)
            {
                navegacao.NavigateTo($"/");
            }
        }
    }

    private List<CarouselItem> Items = new List<CarouselItem>
    {
        new CarouselItem { Title = "Fitness Diary", Description = "É possível melhorar a sua saúde a partir dos hábitos que você inclui em sua rotina. A alimentação pode reforçar a imunidade, diminuindo a frequência com que uma pessoa fica doente ou suavizando a intensidade e duração dos sintomas." },
        new CarouselItem { Title = "Qualidade do Sono", Description = "Dormir bem é também uma questão de hábito, por isso, tente deitar para dormir sempre que possível no mesmo horário. Isso ajuda o seu cérebro a desligar das preocupações e relaxar com mais facilidade no fim do dia." },
        new CarouselItem { Title = "Planeje suas refeições", Description = "Comer bem é essencial para vivermos com saúde e elevarmos a imunidade. Para diminuir o tempo perdido durante a rotina diária enquanto pensa no que irá comer, uma boa ideia é planejar as refeições da semana de uma vez só." },
        new CarouselItem { Title = "Pratique atividades físicas regulares", Description = "É comprovado que atividades físicas melhoram a auto-estima, sensação de bem-estar e a imunidade, sem mencionar o ganho de condicionamento físico. Mesmo que uma simples caminhada, ioga ou treinos funcionais em casa, fuja do sedentarismo para melhorar sua qualidade de vida." }
    };

    private void PreviousSlide()
    {
        if (currentIndex > 0)
        {
            currentIndex--;
        }
        else
        {
            currentIndex = Items.Count - 1;
        }
    }

    private void NextSlide()
    {
        if (currentIndex < Items.Count - 1)
        {
            currentIndex++;
        }
        else
        {
            currentIndex = 0;
        }
    }

    private void GoToSlide(int index)
    {
        currentIndex = index;
    }

    public class CarouselItem
    {
        public string Title { get; set; }
        public string Description { get; set; }
    }
}