@page "/perfil"
@inject IUsuarioService clienteService
@inject NavigationManager navegacao
@rendermode InteractiveServer




<div class="container">
    <div class="heading_container">
        <h2>
            Nossos Treinadores
        </h2>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 mx-auto">
            <div class="box">
                <div class="name">
                    <h5>
                        Fulano 1
                    </h5>
                </div>
                <div class="img-box">
                    <img src="images/t1.jpg" alt="">
                </div>
                <div class="social_box">
                    <a href="">
                        <img src="images/facebook-logo.png" alt="">
                    </a>
                    <a href="">
                        <img src="images/twitter.png" alt="">
                    </a>
                    <a href="">
                        <img src="images/instagram-logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto">
            <div class="box">
                <div class="name">
                    <h5>
                        Fulano 2
                    </h5>
                </div>
                <div class="img-box">
                    <img src="images/t2.jpg" alt="">
                </div>
                <div class="social_box">
                    <a href="">
                        <img src="images/facebook-logo.png" alt="">
                    </a>
                    <a href="">
                        <img src="images/twitter.png" alt="">
                    </a>
                    <a href="">
                        <img src="images/instagram-logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto">
            <div class="box">
                <div class="name">
                    <h5>
                        Fulano 3
                    </h5>
                </div>
                <div class="img-box">
                    <img src="images/t3.jpg" alt="">
                </div>
                <div class="social_box">
                    <a href="">
                        <img src="images/facebook-logo.png" alt="">
                    </a>
                    <a href="">
                        <img src="images/twitter.png" alt="">
                    </a>
                    <a href="">
                        <img src="images/instagram-logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>