@layout AutenticaLayout﻿
@page "/login"
@page "/"
@inject NavigationManager navegacao
@using FitnessDiary.Components.Layout

<h3>Registro de Usuarios</h3>

<EditForm Model="@auth" OnValidSubmit="Logar">
    <div class="container">
        <div class="form-group">
            <label>E-mail</label>
            <InputText id="Email" class="form-control" @bind-Value="auth.Email" />
        </div>

        <div class="form-group">
            <label>Senha</label>
            <InputText id="Senha" class="form-control" @bind-Value="auth.Senha" />
        </div>

        <div>
            <button type="submit" class="btn btn-primary"> Salvar</button>
        </div>

    </div>
</EditForm>

@code{
    AutenticacaoInput auth = new AutenticacaoInput();



    private async Task Logar()
    {
        if (ValidarForm())
        {

            navegacao.NavigateTo("/home");
        }
    }


    private bool ValidarForm()
    {
        List<string> erros = new List<string>();
        if (erros.Count > 0)
        {
            //Snackbar.Add(string.Join(',', erros), Severity.Error);
            return false;
        }

        return true;
    }

}
