@page "/login"
@page "/"
@layout AutenticaLayout
@inject NavigationManager navegacao
@inject ILocalStorageService LocalStorage
@inject IUsuarioService usuarioService
@inject SweetAlertService Swal
@rendermode InteractiveServer


<Loading IsLoading="isLoading" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 px-0">
            <div class="img-box">
                <img src="images/contact-img.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-5 col-md-6">
            <div class="heading_container">
                    <h3>Login de Usuários</h3>
            </div>
            <div class="form_container pr-0 pr-lg-5 mr-0 mr-lg-2">
                <EditForm Model="@auth" OnValidSubmit="Logar">
                    <div class="container">
                        <div class="form-group">
                            <label for="Email">E-mail</label>
                            <InputText id="Email" class="form-control" @bind-Value="auth.Email" />
                        </div>

                        <div class="form-group">
                            <label for="Senha">Senha</label>
                            <InputText id="Senha" type="password" class="form-control" @bind-Value="auth.Senha" />
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>

                        <div class="form-group mt-2">
                            <Span @onclick="IrParaCadastro">Não possui uma conta ainda? Clique aqui para se registrar!</Span>
                        </div>
                    </div>
                </EditForm>

            </div>
        </div>
    </div>
</div>



@code {
    AutenticacaoInput auth = new AutenticacaoInput();
    private bool isLoading = false;

    private async Task Logar()
    {
        isLoading = true;
        StateHasChanged();

        if (await ValidarForm())
        {
            var usuario = await usuarioService.AuthenticateAsync(auth.Email, auth.Senha);
            if (usuario != null)
            {
                await LocalStorage.SetItemAsync("IdUsuario", usuario.IdUsuario);
                navegacao.NavigateTo("/home");
            }
        }
    }

    private void IrParaCadastro()
    {
        navegacao.NavigateTo("/cadastroUsuario/novo", true);
    }

    private async Task<bool> ValidarForm()
    {
        List<string> erros = new List<string>();

        if (string.IsNullOrWhiteSpace(auth.Email))
        {
            erros.Add("O campo E-mail é obrigatório.");
        }

        if (string.IsNullOrWhiteSpace(auth.Senha))
        {
            erros.Add("O campo Senha é obrigatório.");
        }

        if (erros.Count > 0)
        {
            await Swal.FireAsync(new SweetAlertOptions
                {
                    Title = "Erro",
                    Text = $"Erros: \r\n {string.Join(" \r\n ", erros)}!",
                    Icon = SweetAlertIcon.Error,
                    ConfirmButtonText = "Tentar novamente!",
                });

            return false;
        }

        return true;
    }
}
